<nav class="navbar navbar-dark bg-dark">
  <%= link_to "BetterCup", root_path, class: "navbar-brand" %>
  <div class="justify-content-end">
    <% if current_user %>
        <%= link_to "My Recipes", recipes_path, class:"nav-item" %>
        <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe,
                    edit_user_registration_path, title: 'Edit Profile', class:"nav-item" %>
        <%= link_to('Logout', destroy_user_session_path,
        class: 'btn btn-danger nav-item', title: 'Logout', :method => :delete) %>
    <% else %>
        <%= link_to('Sign In', new_user_session_path, class: 'btn btn-dark btn-sm nav-item', title: 'Sign In') %></li>
    <% end %>
  </div>
</nav>